.grid{
    // margin-left: 50px;
    // position: relative;
    background-color: red !important;
}

.my-modify{
    // position: relative !important;
    border: 1px solid burlywood !important;
    border-radius: 8px !important;
    box-shadow: 5px 10px 8px 10px #888888 !important; 
    display: inline-block !important;
    padding: 10px !important; 
   
    // background-color: red;

}

.packery{
    width: 1500px !important;
}