.home{
    height: 700px;
    width: 90%;
    background-color: red;
    margin-top: 2%;
    margin-left: 5%;
    position: relative;
    box-shadow: 5px 10px 8px 10px #888888;   
    // height: auto; 
}